<?xml version="1.0"?>
<DictionaryProperties>
  <add key="DicBankName" value="D01"/>
  <add key="DicBusinessType" value="D02"/>
  <add key="DicMaterialLargeUnit" value="D03"/>
  <add key="DicMaterialSmallUnit" value="D04"/>
  <add key="DicPurpose" value="D06"/>
  <add key="DicPlanStatus" value="D07"/>
  <add key="DicPlanExecuteStatus" value="D08"/>
  <add key="DicAdjustType" value="D10"/>
  <add key="DicSiteType" value="D11"/>
  <add key="SeatType" value="D12"/>
  <add key="DicTradeRelation" value="D14"/>
  <add key="DicSubject" value="D15"/>
  <add key="DicTareType" value="D17"/>
  <add key="MeterType" value="D19"/>
  <add key="DicBusinessTypeDesc" value="D21"/>
  <add key="ICState" value="D24"/>
  <add key="IssuingState" value="D23"/>
  <add key="DicPdcClass" value="D25"/>
  <add key="DicPdcArea" value="D26"/>
  <add key="DicIndustry" value="D16"/>
  <add key="WgtMode" value="P01"/>
  <add key="WgtNum" value="P02"/>
  <add key="QualityInfo" value="P03"/>
  <add key="FlagInfo" value="P04"/>
  <add key="WgtType" value="P05"/>
  <add key="WgtArea" value="P06"/>
  <add key="LoadCrew" value="P07"/>
  <add key="CalcWeight" value="P08"/>
  <add key="CountMode" value="P09"/>
  <add key="RangeValue" value="P10"/>
  <add key="SaveTime" value="P11"/>
  <add key="WeightSite" value="P12"/>
</DictionaryProperties>

