<?xml version="1.0"?>
<ProjectProperties>

  <!--软件名称-->
  <add key="ApplicationName" value="防城港远程计量V2.0" />

  <!--软件简称-->
  <add key="ShortApplicationName" value="防城港远程计量" />
  
  <!--开发商名称-->
  <add key="Manufacturer" value="江苏金恒信息科技有限公司" />

  <!--版权-->
  <add key="CopyRight" value="江苏金恒信息科技有限公司" />
  
  <!--数据库类型：access、sqlserver等-->
  <add key="DbType" value="SQLServer" />

  <add key="DefaultPassword" value="123456"/>

  <!--开发模式:product,test,local,develop,custom-->
  <add key="DevMode" value="product"/>

  <!--开驱动列表-->
  <add key="providers" value="providers.config"/>

  <!--iBatisNet 文件名称-->
  <add key="sqlMapMain_FilePath" value="SQLMapFiles.sqlMapMain.config"/>
  <add key="sqlMapMain_DbProvider" value="sqlServer2.0"/>
  <!--iBatisNet 文件名称-->
  <add key="sqlMapPathKey_DBOne" value="sqlMapMain"/>



  <!--iBatisNet 文件名称-->
  <add key="sqlMapSCM_FilePath" value="SQLMapFiles.sqlMapSCM.config"/>
  <add key="sqlMapSCM_DbProvider" value="sqlServer2.0"/>
  <!--iBatisNet 文件名称-->
  <add key="sqlMapPathKey_SCM" value="sqlMapSCM"/>


  <!--iBatisNet 文件名称-->
  <add key="sqlMapORA_FilePath" value="SQLMapFiles.sqlMapORA.config"/>
  <add key="sqlMapORA_DbProvider" value="ODP.NET Managed"/>
  <!--iBatisNet 文件名称-->
  <add key="sqlMapPathKey_ORA" value="sqlMapORA"/>


  <!--iBatisNet 文件名称-->
  <add key="sqlMapMAC_FilePath" value="SQLMapFiles.sqlMapMAC.config"/>
  <add key="sqlMapMAC_DbProvider" value="sqlServer2.0"/>
  <!--iBatisNet 文件名称-->
  <add key="sqlMapPathKey_MAC" value="sqlMapMAC"/>

  <add key="MultiTabPage" value="false"/>
  <add key="HomePage" value="LTN.CS.Base|LTN.CS.Base.Dc.UI.DcBulletinIndexForm|1" ></add>

</ProjectProperties>

