<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!-- 常量属性，通过单独文件properties.config加载-->
  <properties  >
    <property key="selectKey" value="select @@IDENTITY as value"/>
    <property key="useStatementNamespaces" value="false" />
  </properties>
    <settings>
	    <setting useStatementNamespaces="false"/>
	    <setting cacheModelsEnabled="true"/>
	    <setting validateSqlMap="false"/>
    </settings>
    <!-- 数据驱动提供类配置文件的路径和文件名 -->
    <providers resource="providers.config"/>
    <!-- 指定项目内映射的文件的位置-->
    <sqlMaps>
      <!--Base-->
      <sqlMap embedded="Maps.BM_GROUP.xml,LTN.CS.BaseEntities"  />
      <sqlMap embedded="Maps.BM_GROUP_USER.xml,LTN.CS.BaseEntities"  />
      <sqlMap embedded="Maps.BM_USER.xml,LTN.CS.BaseEntities" />
      <sqlMap embedded="Maps.BM_SERVICE.xml,LTN.CS.BaseEntities"/>
      <sqlMap embedded="Maps.BM_SERVICE_USER.xml,LTN.CS.BaseEntities" />
      <sqlMap embedded="Maps.BM_SERVICE_GROUP.xml,LTN.CS.BaseEntities"  />
      <sqlMap embedded="Maps.BM_MAIN_ASSEMBLY.xml,LTN.CS.BaseEntities"/>
      <sqlMap embedded="Maps.BM_MAIN_PAGE.xml,LTN.CS.BaseEntities"  />
      <sqlMap embedded="Maps.BM_MAIN_GROUP.xml,LTN.CS.BaseEntities" />
      <sqlMap embedded="Maps.BM_MAIN_GROUP_SERVICE.xml,LTN.CS.BaseEntities" />
      <sqlMap embedded="Maps.BM_DICTIONARY_MAIN.xml,LTN.CS.BaseEntities" />
      <sqlMap embedded="Maps.BM_DICTIONARY_DETAIL.xml,LTN.CS.BaseEntities" />
      <sqlMap embedded="Maps.BM_DELIVERY.xml,LTN.CS.BaseEntities" />
      <sqlMap embedded="Maps.BM_DELIVERY_HISTORY.xml,LTN.CS.BaseEntities" />
      
      
      <!--Entity-->
      <sqlMap embedded="Maps.A_Entities.xml,LTN.CS.SCMEntities"  />
      <!--CS-->
      <!--<sqlMap embedded="Maps.CS_Student.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.CS_Teacher.xml,LTN.CS.SCMEntities"  />-->
      <!--PT-->
      <sqlMap embedded="Maps.PT_TruckMeasurePlanOperate.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PT_BeltScalePlan.xml,LTN.CS.SCMEntities"  />
      <!--SM-->
      <sqlMap embedded="Maps.SM_Car_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_Materiel_Level.xml,LTN.CS.SCMEntities"  />

      <sqlMap embedded="Maps.SM_Site_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_PoundSite_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_Department_LevelOne_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_Department_LevelTwo_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_TareWeight.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_BlackList.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_Dvr_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_PoundService_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_Meter_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_ErrorConfig.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_LPRCamera.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_BeltNumber.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_CameraCarNO.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_ReasonForNoAuto.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_RFID_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_MatWGTLimit.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_Guid_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_JZXH_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_Container_Rate.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_WeightList_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.SM_GczTare_Info.xml,LTN.CS.SCMEntities"  />  
      
      <sqlMap embedded="Maps.SM_ReeferContainerNo_Info.xml,LTN.CS.SCMEntities"  />
      
      
      <!--其他-->
      <sqlMap embedded="Maps.CommonSql.xml,LTN.CS.SCMEntities"  />
      
      <!--IT-->
      <sqlMap embedded="Maps.IT_TruckMeasurePlan.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.IT_BeltScalePlan.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.IT_BeltStopScalePlan.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.IT_TrackScaleIronPlan.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.IT_TrackScaleMaterielPlan.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.IT_OnlineScaleBill.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.IT_OrbitWeighterConfirm.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.IT_OrbitWeighterBill.xml,LTN.CS.SCMEntities"/>
      <!--PM-->
      <sqlMap embedded="Maps.PM_Bill_Iron.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_Pond_Bill_Iron.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_Bill_Truck.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_Bill_Supplies.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_Pond_Bill_Supplies.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_Bill_BeltScale.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_RawData_MoveTrain.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_Middle_SuppliesPond_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_Standard_Tare_Info.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.BeltWeightData.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_ImportBill.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_Bill_Truck_History.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_Bill_OnlineScale.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_OrbitWeighterConfirm.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_Bill_OrbitWeighter.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_RawData_MoveTrain_New.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.Pond_ComplateTime.xml,LTN.CS.SCMEntities"/>
      <sqlMap embedded="Maps.PM_Pond_Bill_Supplies_History.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.RP_Materiel_PrintRecord.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_Pond_Bill_Iron_History.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_Pond_Bill_Cars_Print.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_DataComparison.xml,LTN.CS.SCMEntities"/>
      <sqlMap embedded="Maps.PM_WaterGuage.xml,LTN.CS.SCMEntities"/>
      <sqlMap embedded="Maps.PM_Bill_Belt_History.xml,LTN.CS.SCMEntities"/>
    </sqlMaps>
  
</sqlMapConfig>
 