<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!-- 常量属性，通过单独文件properties.config加载-->
  <properties  >
    <property key="selectKey" value="select @@IDENTITY as value"/>
    <property key="useStatementNamespaces" value="false" />
  </properties>
    <settings>
	    <setting useStatementNamespaces="false"/>
	    <setting cacheModelsEnabled="true"/>
	    <setting validateSqlMap="false"/>
    </settings>

    <!-- 数据驱动提供类配置文件的路径和文件名 -->
    <providers resource="providers.config"/>

    <!-- 指定项目内映射的文件的位置-->
    <sqlMaps>
      <sqlMap embedded="Maps.Person.xml,LTN.CS.BaseEntities"  />
      <!--<sqlMap embedded="Maps.PM_RealTimeWeight.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_RealTimeWeightSep.xml,LTN.CS.SCMEntities"  />
      <sqlMap embedded="Maps.PM_SignalProcess.xml,LTN.CS.SCMEntities"  />-->
    </sqlMaps>
</sqlMapConfig>
